html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
body {
    margin: 0;
    background-color: #C1d1d4;
}
*, *::before, *::after {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}



/* header*/

header .containerr {
    display: flex;
    padding: 0.5rem;
    background-color: #d0d0d0;
    border: 3px solid #000000;
    box-shadow: 0.4rem -0.4rem #4d4d4d;
    gap: 15px;
    max-height: 20rem;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    max-width: 120rem;
}


header .containerr ul li a img {
    max-height: 10rem;
}

header ul {
    list-style-type: none;
}

header .home a img {
    height: 15rem;
}

header .bier a img {
    height: 15rem;
}

header .wijn a img {
    height: 15rem;
}

header .sterke a img {
    height: 15rem;
}
header .button {
    display: flex;
    font-size: 2rem;
    padding: 8px;
    transition: 0.35s;
    border: 0.3rem solid #4D4D4D;
    flex-direction: column;
    margin-top: 0.75rem;
}
header .button:hover a
{
    text-decoration: none;
    color: #4D4D4D;
}

header .button:hover
{
    color: #ffffff;
    background-color: #4D4D4D;
    border-color: #4D4D4D;
    transition: 0.35s;
}
header .containerr h2 {
    text-align: center;
}

.container {
    display: flex;
    border: 0;
    padding: 0;
    margin-top: 0.75rem;
    margin-bottom: 0;
    flex-direction: column;
}
.container2 {
    display: flex;
    margin: 0.5rem auto;
    margin-bottom: 0.1rem;
    gap: 1rem;
    border: 1rem solid #4d4d4d;
    border-radius: 1rem;
    background-color: #4d4d4d;
    max-width: 90rem;
}
.container3 {
    display: flex;
    margin: 1rem auto;
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    border: 1rem solid #4d4d4d;
    border-radius: 1rem;
    background-color: #4d4d4d;
    gap: 1rem;
    justify-content: space-around;
    align-items: center;
    max-width: 90rem;
}
div p {
    padding: 2rem;
    margin: 0;
    border: 0.4rem solid #E6E6E6;
    border-radius: 1rem;
    background-color: #E6E6E6;
}
.img {
    border-radius: 1rem;
}
body {
    background-color: #C1d1d4;
}
