/*cookies*/
.popup{
    background-color: #0855ae;
    color: whitesmoke;
    font-size: 1.5rem;
    width: 45rem;
    height: 25rem;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    text-align: center;
    display: none;
}
.popup button{
    display: block;
    margin: 1rem auto 0 auto;
    font-size: 2rem;
    color: #ffffff;
    background: #000000;
    border-radius: 5px;
    cursor: pointer;
}