footer {
    background-color: #4d4d4d;
    padding-bottom: 3rem;
}
.us{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.us h1{
    width: 70rem;
}

.persoon{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
    margin-right: 2rem;
    align-items: center;
    justify-content: space-between;
}

.persoon h2{
    font-size: 2rem;
}

.persoon img{
    border-radius: 100%;
    width: 15rem;
}

.personen {
    display: flex;
}