html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}
body {
    margin: 0;
    background-color: #C1d1d4;
}
*, *::before, *::after {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}


/*cookies*/
.popup{
    background-color: #0855ae;
    color: whitesmoke;
    font-size: 1.5rem;
    width: 45rem;
    height: 25rem;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: "Poppins",sans-serif;
    text-align: center;
    display: none;
}
.popup button{
    display: block;
    margin: 1rem auto 0 auto;
    font-size: 2rem;
    color: #ffffff;
    background: #000000;
    border-radius: 5px;
    cursor: pointer;
}

/*niewtjes*/

main .niewtjes{
    width: 90rem;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: 2rem;
    background-color: #E6E6E6;
    border: 3px solid #000000;
    box-shadow: 0.4rem -0.4rem #4d4d4d;
}

main .niewtjes h1{
    font-size: 5rem;
    margin-left: 2rem;
}

main .niewtjes h2 {
    margin-left: 2rem;
    font-size: 3rem;
}

main .niewtje p{
    font-size: 2rem;
    margin-left: 2rem;
    width: 50rem;
}

main .niewtje{
    margin-bottom: 2rem;
    display: flex;
}

main .niewtje img{
    margin-left: 5rem;
    width: 30rem;
    height: 30rem;
}

main .inleiding-link{
    display: flex;
    flex-direction: column;
}

.inleiding-link a{
    border-radius: 3rem;
    background-color: #d99800;
    margin-top: 2rem;
    margin-left: 18rem;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 3rem;
    display: flex;
    color: black;
    width: 18rem;
    justify-content: center;

}
.img {
    margin-top: 2rem;
    margin-bottom: 2rem;
}