html {
    font-family: 'Roboto', sans-serif;
}
body {
    margin: 0;
    background-color: #C1d1d4;
}
*, *::before, *::after {
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}




ul {
    list-style-type: none;
}
h1 {
    text-align: center;
    justify-content: center;
    border: 3px solid #000000;
    box-shadow: 0.4rem -0.4rem #4d4d4d;
    background-color: #ffffff;
    margin: 1rem auto;
    width: 8rem;
}
h3 {
    text-align: center;
    font-size: 1.6rem;
}
.container {
    display: flex;
    padding: 0.5rem;
    gap: 15px;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    max-width: 90rem;
}
main li img{
    background-color: #ffffff;

}
main li{
    padding: 1rem;
    border: 3px solid #000000;
    box-shadow: 0.5rem -0.5rem #4d4d4d;
    background-color: #ffffff;
}
body {
    background-color: #C1d1d4;
}
.sterk{
    width: 16rem;
}