html {
    font-family: 'Roboto', sans-serif;
}
body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: #C1d1d4;
}
/* header*/
header {
    font-size: 62.5%;
}
header .container {
    display: flex;
    padding: 0.5rem;
    background-color: #d0d0d0;
    border: 3px solid #000000;
    box-shadow: 0.4rem -0.4rem #4d4d4d;
    gap: 15px;
    max-height: 20rem;
    justify-content: space-evenly;
    margin-top: 3rem;
    margin-bottom: 2rem;
    max-width: 120rem;
}

header .container ul li a img {
    max-height: 10rem;
}

header ul {
    list-style-type: none;
}

header .home a img {
    height: 15rem;
    border-right: 6px;
}

header .bier a img {
    height: 15rem;
    border-right: 6px;
}

header .wijn a img {
    height: 15rem;
}

header .sterke a img {
    height: 15rem;
}
header .button {
    display: flex;
    font-size: 2rem;
    padding: 8px;
    transition: 0.35s;
    border: 0.3rem solid #4D4D4D;
    flex-direction: column;
    margin-top: 3rem;
}
header .button:hover a
{
    text-decoration: none;
    color: #4D4D4D;
}

header .button:hover
{
    color: #ffffff;
    background-color: #4D4D4D;
    border-color: #4D4D4D;
    transition: 0.35s;
}
header .container h2 {
    text-align: center;
    font-family: "Old English Text MT", serif;
}

/*main*/
main {
    display: flex;
    justify-content: space-evenly;
}
#msgContainer{
    border: 6px solid #4D4D4D;
    max-width: 50rem;
    min-width: 18.5rem;
    width: 100%;
    min-height: 100vh;
    margin: 5rem;
    padding: 2rem;
}
form {
    padding-bottom: 1rem;
    border-bottom: 1px solid black;
}
form textarea{
    min-width: 100%;
}
ul {
    display: grid;
    grid-template-rows: 1fr;
    list-style-type: none;
}

.post{
    max-width: 50rem;
    min-width: 17rem;
    padding: 10px;
    border: 2px solid black;
    margin: 1rem 0 1rem 0 ;
}

.gb-datum{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    border-bottom: 1px solid black;
    margin-bottom: 1rem;
}

.gb {
    margin-bottom: 6px;
    
}

.datum {
    color: rgb(129, 129, 129);
}

